* {
    box-sizing: border-box;
}

body {
    background-image: url('img/c08ac15e.png');
    font-family: sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 45vw;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 1em;
}

#logo {
    margin-top: 1em;
    width: 75%;
}

#logo:hover {
    cursor: pointer;
}

footer {
    background-color: white;
    width: 45vw;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    justify-content: space-around;
    width: 100%;
}

.btn {
    height: 5vh;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    width: 30%;
    margin-top: 1em;
    --webkit-appearance: none;
}

.btn:hover {
    cursor: pointer;
}

#start-game-btn {
    transition: background-color 0.25s;
}

#start-game-btn:hover {
    background-color: #529340;
}

#question-count {
    font-weight: bold;
    margin-bottom: 1em;
}

#score {
    width: 30%;
    text-align: center;
}

#current-word {
    font-size: 1.5em;
}

#answer-input {
    width: 30%;
    height: 30px;
}

.help-paragraph {
    width: 90%;
    line-height: 1.5em;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    #app {
        height: 100%;
    }

    #game {
        border-radius: 0;
        width: 100vw;
    }

    footer {
        border-radius: 0;
        width: 100vw;
    }

    #logo {
        width: 100%;
    }

    .btn {
        width: 90%;
    }

    #answer-input {
        width: 90%;
    }
}